**NER**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from datetime import date, timedelta

import xgboost as xgb
from xgboost import plot_importance, plot_tree
import sklearn
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter("ignore")

In [3]:
raot_cta_ner = pd.read_csv('cta_ner_standard_deviation_msa_up_to_date.csv')
#print(raot_cta_ner['ID'].nunique())
raot_cta_ner.head()

,WEEK_START,PROPERTY_ID,SURVEY_ID,SURVEY_DATE,STATE,STATE_ID,MSA,MSA_ID,SUBMARKET,SUBMARKET_ID,NER,NER_T4,UNITS,UNITS_T4
0,2019-06-10,5c952d95c401700015e59ab2,5d041324ca44d400152b657b,2019-06-14,Texas,16bc1b32-98de-427a-017e-8a80adaf1ca8,"Dallas, TX",62eb1840-3fe2-8049-5062-9646e18700e4,Northeast,20962d6bfb4c87e5593d2f3bff5e2f99,1357.640264,1329.476072,303.0,303.0
1,2014-09-15,5642c17655d27c0e003b5ae8,5642c1ce55d27c0e003b8820,2014-09-15,California,3e5ffbdd-4051-7165-7db7-21bdd14930db,"Sacramento, CA",a2a9af91-964e-a267-9046-91d8c6ed645a,Other,5414f19e0902eb35626ffd051c9249af,1498.000000,1534.078947,171.0,171.0
2,2015-02-02,568b4caeeb46290e00ffb7c3,568b4eeb0406580e009c4f65,2015-02-02,Texas,16bc1b32-98de-427a-017e-8a80adaf1ca8,"Houston, TX",5808a3f7-45f6-467e-864b-5e0f0e4a0cc1,Montrose/River Oaks,d8ac5f933b79217ff383d337fed58ee1,1710.047318,1710.047318,317.0,317.0
3,2019-12-02,5d85015fa8f87e001d7ceacf,5de558ef6e028b001da8ba45,2019-12-02,Colorado,d611adb9-a2fe-1a3a-63e5-1d8634942efa,"Denver, CO",f6c8f11a-8783-573a-8140-6f221f077529,Denver-South/Glendale,9898e672265aac9197cf49878fa0b453,1824.636363,1843.041817,275.0,275.0
4,2018-07-23,5642c18855d27c0e003b6fa6,5b56088c502f3c001307765a,2018-07-23,Arizona,60682b07-6de7-18cc-618b-dfd375ec2200,"Phoenix, AZ",3593fab5-48d8-741f-9eeb-16a13099553c,North Scottsdale/Fountain Hills,9fd2c103c3304388edf88dfa14f5f4db,1104.527272,1104.527272,330.0,330.0

In [4]:
raot_cta_ner['WEEK_START'] = pd.to_datetime(raot_cta_ner['SURVEY_DATE']).dt.date
raot_cta_ner = raot_cta_ner.sort_values(by='WEEK_START')

# select rows where date is between given start/end date (inclusive)
start_date = pd.to_datetime('1/1/2015')
end_date = pd.to_datetime('10/09/2022')

raot_cta_ner = raot_cta_ner.loc[
    (raot_cta_ner['WEEK_START'] >= start_date) & (raot_cta_ner['WEEK_START'] <= end_date)]

In [5]:
def start_week_date(survey_date):
    start_date = survey_date - timedelta(days=survey_date.weekday())
    
    return start_date

raot_cta_ner['WEEK_START'] = raot_cta_ner.apply(lambda x: start_week_date(x['WEEK_START']), axis=1)
raot_cta_ner.tail()

,WEEK_START,PROPERTY_ID,SURVEY_ID,SURVEY_DATE,STATE,STATE_ID,MSA,MSA_ID,SUBMARKET,SUBMARKET_ID,NER,NER_T4,UNITS,UNITS_T4
419356,2022-10-03,61bc8c253eb983002a3df742,63431774c008895a8abeed04,2022-10-09,Oklahoma,f558bb7f-6cec-5f40-73ee-4794adfd38c4,"Tulsa, OK",d0cca12e-9d37-6f6a-6d28-6b7843b4516c,South,94ea44d954d2d24ccf5fc500a96e0cee,736.783606,736.783606,305.0,305.0
10149,2022-10-03,5d69844e32fa94001dab46a8,6343035df4fbb65edac09950,2022-10-09,California,3e5ffbdd-4051-7165-7db7-21bdd14930db,"San Diego, CA",dfad4dd3-9313-6c18-50c1-0de9821b0d67,Downtown San Diego,64cd135117aa06404f9aae45d094e97d,3331.192488,3338.811619,426.0,426.0
507438,2022-10-03,5ce2d8145e5ddc00154f6aba,6342afacbe45b2160620ae6d,2022-10-09,Colorado,d611adb9-a2fe-1a3a-63e5-1d8634942efa,"Denver, CO",f6c8f11a-8783-573a-8140-6f221f077529,Aurora-South,96faed51c8be20004c7e485032facf96,1970.625000,1962.460647,216.0,216.0
672386,2022-10-03,5ec7cb3c31f7d70004c3e4b0,634304c1399b0a32501c8c7d,2022-10-09,Washington,29f94770-3b3e-9adc-491b-dd6422b92859,"Seattle, WA",673ebf82-2936-9c7e-1c0c-26b22ba92f0c,Everett/Mukilteo/Mill Creek,be03b445c4543ca90eebb728d573db82,2046.693002,2046.693002,443.0,443.0
804142,2022-10-03,577fdb996b930c0e009f0e74,634215d36516178da78f2068,2022-10-09,Nevada,ebf21ea4-8547-91a2-687b-b996dd6144ec,"Las Vegas, NV",389103f2-0f79-8743-35e7-38e657fe8f0d,Henderson/Southeast,735620776fd30a84dade8cdcd36d0fc4,1581.160000,1552.029999,600.0,600.0

In [6]:
raot_cta_ner = raot_cta_ner[['WEEK_START', 'PROPERTY_ID', 'STATE', 'MSA', 'SUBMARKET', 'NER_T4']]

## XGBOOST

In [7]:
def datetime_index(df, date_col):
    datetime_series = pd.to_datetime(df[date_col])
    datetime_index = pd.DatetimeIndex(datetime_series.values)
    df2 = df.set_index(datetime_index)
    df2.drop('date',axis=1,inplace=True)
    return df2

In [8]:
def create_features(df, label=None):
    """
    Creates time series features from datetime index
    """
    df['date'] = df.index
    df['hour'] = df['date'].dt.hour
    df['dayofweek'] = df['date'].dt.dayofweek
    df['quarter'] = df['date'].dt.quarter
    df['month'] = df['date'].dt.month
    df['year'] = df['date'].dt.year
    df['dayofyear'] = df['date'].dt.dayofyear
    df['dayofmonth'] = df['date'].dt.day
    #df['weekofyear'] = df['date'].dt.weekofyear
    
    X = df[['hour','dayofweek','quarter','month','year',
           'dayofyear','dayofmonth']]
    if label:
        y = df[label]
        return X, y
    return X

In [9]:
msa_data = pd.read_csv('msa_data.csv')
msa_data_lst = list(msa_data['MSA'])

In [10]:
subsets = dict((x, y) for x, y in raot_cta_ner.groupby(['MSA']))

for unique_val, subset in subsets.items():
    subsets[unique_val] = subset.groupby('WEEK_START').mean('NER')

**Extracting the data into a df**

In [11]:
for unique_val, subset in subsets.items():
    if unique_val in msa_data_lst:
        print(unique_val)
        print(subset.tail(25))

Atlanta, GA
                 NER_T4
WEEK_START
2022-04-18  1790.830447
2022-04-25  1792.420025
2022-05-02  1799.222625
2022-05-09  1792.786981
2022-05-16  1798.340909
2022-05-23  1797.476905
2022-05-30  1795.387873
2022-06-06  1797.695587
2022-06-13  1790.822203
2022-06-20  1801.741054
2022-06-27  1802.779437
2022-07-04  1810.917568
2022-07-11  1821.147825
2022-07-18  1823.896249
2022-07-25  1832.489009
2022-08-01  1822.173624
2022-08-08  1818.919006
2022-08-15  1817.791517
2022-08-22  1821.154389
2022-08-29  1805.276109
2022-09-05  1809.485507
2022-09-12  1810.908119
2022-09-19  1808.574062
2022-09-26  1810.618248
2022-10-03  1806.185957
Austin, TX
                 NER_T4
WEEK_START
2022-04-18  1650.012118
2022-04-25  1652.847896
2022-05-02  1647.729560
2022-05-09  1657.936431
2022-05-16  1658.813357
2022-05-23  1668.855399
2022-05-30  1674.916704
2022-06-06  1677.079371
2022-06-13  1683.115091
2022-06-20  1685.187463
2022-06-27  1696.844081
2022-07-04  1699.479211
2022-07-11  1701.614438
2022-07-18  1698.056980
2022-07-25  1698.689391
2022-08-01  1695.873746
2022-08-08  1702.640348
2022-08-15  1695.765683
2022-08-22  1695.358188
2022-08-29  1693.212906
2022-09-05  1693.324389
2022-09-12  1697.239719
2022-09-19  1694.192642
2022-09-26  1689.864987
2022-10-03  1685.711713
Baltimore, MD
                 NER_T4
WEEK_START
2022-04-18  2027.895612
2022-04-25  2029.358828
2022-05-02  2020.624305
2022-05-09  1948.179666
2022-05-16  1886.694937
2022-05-23  1870.268702
2022-05-30  1858.675992
2022-06-06  1841.690123
2022-06-13  1864.651785
2022-06-20  1807.955652
2022-06-27  1810.760138
2022-07-04  1812.920067
2022-07-11  1807.856668
2022-07-18  1808.289063
2022-07-25  1822.958814
2022-08-01  1823.348016
2022-08-08  1826.963518
2022-08-15  1828.672307
2022-08-22  1863.672592
2022-08-29  1863.669292
2022-09-05  1856.670968
2022-09-12  1854.380372
2022-09-19  1848.816002
2022-09-26  1845.325759
2022-10-03  1851.128557
Boston, MA
                 NER_T4
WEEK_START
2022-04-18  2952.792787
2022-04-25  2972.372565
2022-05-02  2986.776913
2022-05-09  2981.977002
2022-05-16  2957.202752
2022-05-23  2970.034787
2022-05-30  2942.338662
2022-06-06  2961.286054
2022-06-13  3001.968318
2022-06-20  3022.532935
2022-06-27  3025.090632
2022-07-04  3009.911238
2022-07-11  2984.430407
2022-07-18  3002.189684
2022-07-25  3018.189013
2022-08-01  3009.842283
2022-08-08  3007.828281
2022-08-15  3017.140730
2022-08-22  3018.437925
2022-08-29  3017.318560
2022-09-05  3008.444201
2022-09-12  3009.850131
2022-09-19  3012.250326
2022-09-26  3012.925385
2022-10-03  3020.185470
Charleston, SC
                 NER_T4
WEEK_START
2022-04-18  1660.065380
2022-04-25  1664.475471
2022-05-02  1671.940056
2022-05-09  1692.213060
2022-05-16  1707.767685
2022-05-23  1706.617466
2022-05-30  1720.779453
2022-06-06  1727.738301
2022-06-13  1739.591055
2022-06-20  1747.614729
2022-06-27  1750.279070
2022-07-04  1758.492716
2022-07-11  1763.331011
2022-07-18  1769.507628
2022-07-25  1786.964393
2022-08-01  1755.761736
2022-08-08  1755.615685
2022-08-15  1750.944702
2022-08-22  1755.626795
2022-08-29  1711.837480
2022-09-05  1684.364419
2022-09-12  1687.751575
2022-09-19  1684.754296
2022-09-26  1686.500071
2022-10-03  1687.416320
Charlotte, NC
                 NER_T4
WEEK_START
2022-04-18  1692.706489
2022-04-25  1693.878410
2022-05-02  1708.374071
2022-05-09  1715.620466
2022-05-16  1709.371078
2022-05-23  1714.768919
2022-05-30  1723.272625
2022-06-06  1732.315787
2022-06-13  1743.674302
2022-06-20  1751.714885
2022-06-27  1760.154275
2022-07-04  1756.854958
2022-07-11  1777.633608
2022-07-18  1764.735361
2022-07-25  1763.509082
2022-08-01  1766.363436
2022-08-08  1765.334361
2022-08-15  1778.660603
2022-08-22  1775.222488
2022-08-29  1776.013804
2022-09-05  1760.533444
2022-09-12  1755.072551
2022-09-19  1757.422430
2022-09-26  1757.525723
2022-10-03  1753.044764
Chicago, IL
                 NER_T4
WEEK_START
2022-04-18  2243.671442
2022-04-25  2264.215603
2022-05-02  2290.831488
2022-05-09  2306.394652
2022-05-16  2274.586116
2022-05-23  2280.991217
2022-05-30  2281.215305
2022-06-06  2295.776274
2022-06-13  2313.148540
2022-06-20  2327.476468
2022-06-27  2327.408317
2022-07-04  2334.555697
2022-07-11  2338.202159
2022-07-18  2347.022112
2022-07-25  2356.977730
2022-08-01  2362.112506
2022-08-08  2361.536704
2022-08-15  2359.463494
2022-08-22  2359.078189
2022-08-29  2348.159699
2022-09-05  2349.224104
2022-09-12  2344.829334
2022-09-19  2339.446291
2022-09-26  2333.201179
2022-10-03  2326.864163
Dallas, TX
                 NER_T4
WEEK_START
2022-04-18  1583.179923
2022-04-25  1585.685519
2022-05-02  1582.293298
2022-05-09  1589.762706
2022-05-16  1599.529882
2022-05-23  1601.941384
2022-05-30  1601.726703
2022-06-06  1608.830498
2022-06-13  1614.387784
2022-06-20  1623.592931
2022-06-27  1626.527252
2022-07-04  1627.313796
2022-07-11  1631.180344
2022-07-18  1632.890319
2022-07-25  1633.619572
2022-08-01  1634.618007
2022-08-08  1634.769492
2022-08-15  1635.519067
2022-08-22  1634.010495
2022-08-29  1637.587718
2022-09-05  1632.714971
2022-09-12  1634.526595
2022-09-19  1633.646205
2022-09-26  1630.314431
2022-10-03  1628.242434
Denver, CO
                 NER_T4
WEEK_START
2022-04-18  1915.161323
2022-04-25  1929.292838
2022-05-02  1933.911947
2022-05-09  1942.272454
2022-05-16  1946.054074
2022-05-23  1954.140084
2022-05-30  1959.436288
2022-06-06  1969.595875
2022-06-13  1966.229203
2022-06-20  1971.258065
2022-06-27  1978.484092
2022-07-04  1975.823214
2022-07-11  1979.876680
2022-07-18  1981.757470
2022-07-25  1988.330444
2022-08-01  1983.421800
2022-08-08  1977.642405
2022-08-15  1976.333153
2022-08-22  1974.202745
2022-08-29  1965.942695
2022-09-05  1965.134145
2022-09-12  1964.794481
2022-09-19  1965.885615
2022-09-26  1963.959361
2022-10-03  1962.273793
Houston, TX
                 NER_T4
WEEK_START
2022-04-18  1451.140574
2022-04-25  1457.633315
2022-05-02  1462.308490
2022-05-09  1469.387583
2022-05-16  1472.358888
2022-05-23  1481.673743
2022-05-30  1485.764951
2022-06-06  1489.071502
2022-06-13  1488.688961
2022-06-20  1487.272029
2022-06-27  1490.089038
2022-07-04  1497.099879
2022-07-11  1497.702464
2022-07-18  1499.913745
2022-07-25  1501.603708
2022-08-01  1504.180845
2022-08-08  1503.551591
2022-08-15  1502.703366
2022-08-22  1499.687676
2022-08-29  1496.566198
2022-09-05  1492.231984
2022-09-12  1488.794581
2022-09-19  1493.340224
2022-09-26  1491.069520
2022-10-03  1488.185360
Jacksonville, FL
                 NER_T4
WEEK_START
2022-04-18  1684.854851
2022-04-25  1685.797873
2022-05-02  1687.656985
2022-05-09  1703.116177
2022-05-16  1722.502617
2022-05-23  1719.261608
2022-05-30  1725.647214
2022-06-06  1721.924205
2022-06-13  1728.721467
2022-06-20  1729.185497
2022-06-27  1730.944877
2022-07-04  1721.180715
2022-07-11  1720.479848
2022-07-18  1718.436278
2022-07-25  1728.161087
2022-08-01  1732.041689
2022-08-08  1730.596243
2022-08-15  1705.968459
2022-08-22  1685.775586
2022-08-29  1661.418293
2022-09-05  1648.224987
2022-09-12  1652.347003
2022-09-19  1641.003929
2022-09-26  1643.554401
2022-10-03  1636.107468
Las Vegas, NV
                 NER_T4
WEEK_START
2022-04-18  1642.649755
2022-04-25  1633.564388
2022-05-02  1661.674757
2022-05-09  1655.097821
2022-05-16  1667.160424
2022-05-23  1683.105630
2022-05-30  1705.934880
2022-06-06  1686.123196
2022-06-13  1685.936131
2022-06-20  1670.375971
2022-06-27  1686.447519
2022-07-04  1674.751750
2022-07-11  1670.607231
2022-07-18  1668.512422
2022-07-25  1662.595216
2022-08-01  1658.653729
2022-08-08  1646.013904
2022-08-15  1639.616550
2022-08-22  1630.645126
2022-08-29  1648.131262
2022-09-05  1616.219532
2022-09-12  1613.775091
2022-09-19  1601.400224
2022-09-26  1601.908675
2022-10-03  1594.737758
Los Angeles, CA
                 NER_T4
WEEK_START
2022-04-18  2857.720528
2022-04-25  2863.958680
2022-05-02  2877.761837
2022-05-09  2878.217905
2022-05-16  2876.063268
2022-05-23  2888.888563
2022-05-30  2883.167470
2022-06-06  2889.356441
2022-06-13  2881.499045
2022-06-20  2884.016336
2022-06-27  2897.419186
2022-07-04  2899.856780
2022-07-11  2928.200731
2022-07-18  2924.001295
2022-07-25  2923.774005
2022-08-01  2935.360020
2022-08-08  2928.129651
2022-08-15  2921.164147
2022-08-22  2926.755034
2022-08-29  2923.714714
2022-09-05  2941.370480
2022-09-12  2949.039520
2022-09-19  2946.996131
2022-09-26  2947.817667
2022-10-03  2945.324926
Miami, FL
                 NER_T4
WEEK_START
2022-04-18  2609.314034
2022-04-25  2618.665871
2022-05-02  2630.929228
2022-05-09  2628.490826
2022-05-16  2627.094490
2022-05-23  2640.852467
2022-05-30  2647.557008
2022-06-06  2660.237188
2022-06-13  2680.955885
2022-06-20  2676.480167
2022-06-27  2670.936340
2022-07-04  2673.044079
2022-07-11  2667.938486
2022-07-18  2644.772262
2022-07-25  2651.950965
2022-08-01  2638.412486
2022-08-08  2636.218485
2022-08-15  2634.502731
2022-08-22  2624.599473
2022-08-29  2626.173116
2022-09-05  2625.732667
2022-09-12  2621.972377
2022-09-19  2612.052266
2022-09-26  2618.229810
2022-10-03  2621.879501
Nashville, TN
                 NER_T4
WEEK_START
2022-04-18  1839.257901
2022-04-25  1867.992194
2022-05-02  1841.800830
2022-05-09  1843.877276
2022-05-16  1859.152441
2022-05-23  1845.136148
2022-05-30  1832.318918
2022-06-06  1837.841596
2022-06-13  1839.264489
2022-06-20  1843.481060
2022-06-27  1844.548077
2022-07-04  1838.686631
2022-07-11  1837.686668
2022-07-18  1815.366999
2022-07-25  1810.372399
2022-08-01  1804.185755
2022-08-08  1796.446755
2022-08-15  1804.184905
2022-08-22  1802.946716
2022-08-29  1805.752929
2022-09-05  1797.884768
2022-09-12  1800.251397
2022-09-19  1793.074170
2022-09-26  1798.518525
2022-10-03  1797.015990
New York, NY
                 NER_T4
WEEK_START
2022-04-18  3762.539142
2022-04-25  3771.538391
2022-05-02  3793.606198
2022-05-09  3825.704561
2022-05-16  3831.199455
2022-05-23  3812.066896
2022-05-30  3826.788379
2022-06-06  3809.555115
2022-06-13  3822.612646
2022-06-20  3839.103162
2022-06-27  3855.478510
2022-07-04  3886.350508
2022-07-11  3863.354514
2022-07-18  3857.805614
2022-07-25  3870.836448
2022-08-01  3882.160427
2022-08-08  3888.811853
2022-08-15  3896.129244
2022-08-22  3918.217458
2022-08-29  3940.325981
2022-09-05  3945.413999
2022-09-12  3969.823087
2022-09-19  3971.832492
2022-09-26  3965.620698
2022-10-03  3959.905632
Orlando, FL
                 NER_T4
WEEK_START
2022-04-18  1884.514947
2022-04-25  1898.625413
2022-05-02  1912.167220
2022-05-09  1921.752735
2022-05-16  1939.199610
2022-05-23  1933.369610
2022-05-30  1939.069241
2022-06-06  1949.634482
2022-06-13  1957.755013
2022-06-20  1963.468857
2022-06-27  1971.212072
2022-07-04  1978.798166
2022-07-11  1980.276371
2022-07-18  1986.856397
2022-07-25  1986.230652
2022-08-01  1989.331941
2022-08-08  1989.700311
2022-08-15  1989.819748
2022-08-22  1987.961584
2022-08-29  1988.878477
2022-09-05  1986.346925
2022-09-12  1982.063180
2022-09-19  1973.655707
2022-09-26  1968.567505
2022-10-03  1963.685017
Phoenix, AZ
                 NER_T4
WEEK_START
2022-04-18  1723.771319
2022-04-25  1723.930330
2022-05-02  1726.226222
2022-05-09  1735.478565
2022-05-16  1740.000845
2022-05-23  1738.701482
2022-05-30  1742.809125
2022-06-06  1743.436005
2022-06-13  1744.798882
2022-06-20  1739.117197
2022-06-27  1725.466552
2022-07-04  1728.890242
2022-07-11  1728.062674
2022-07-18  1727.616811
2022-07-25  1737.349893
2022-08-01  1724.916418
2022-08-08  1723.400959
2022-08-15  1714.980632
2022-08-22  1712.675972
2022-08-29  1707.545447
2022-09-05  1703.648174
2022-09-12  1698.048964
2022-09-19  1693.714644
2022-09-26  1691.832622
2022-10-03  1689.088610
Portland, OR
                 NER_T4
WEEK_START
2022-04-18  1696.030234
2022-04-25  1704.838916
2022-05-02  1709.133197
2022-05-09  1708.340942
2022-05-16  1714.871659
2022-05-23  1716.753934
2022-05-30  1719.714846
2022-06-06  1741.796692
2022-06-13  1739.325823
2022-06-20  1735.723669
2022-06-27  1741.752513
2022-07-04  1750.300307
2022-07-11  1757.107587
2022-07-18  1755.901461
2022-07-25  1764.654763
2022-08-01  1771.699110
2022-08-08  1774.470670
2022-08-15  1775.228613
2022-08-22  1780.640818
2022-08-29  1784.650131
2022-09-05  1785.991500
2022-09-12  1788.498949
2022-09-19  1785.817771
2022-09-26  1784.094829
2022-10-03  1782.720540
Raleigh, NC
                 NER_T4
WEEK_START
2022-04-18  1625.430727
2022-04-25  1620.748333
2022-05-02  1628.738137
2022-05-09  1645.007408
2022-05-16  1651.936702
2022-05-23  1655.403725
2022-05-30  1673.577499
2022-06-06  1685.423645
2022-06-13  1696.947224
2022-06-20  1702.094934
2022-06-27  1716.890455
2022-07-04  1726.637144
2022-07-11  1729.753227
2022-07-18  1737.170720
2022-07-25  1728.172534
2022-08-01  1720.915074
2022-08-08  1723.373840
2022-08-15  1721.410644
2022-08-22  1716.078892
2022-08-29  1709.971842
2022-09-05  1701.302731
2022-09-12  1686.828979
2022-09-19  1681.440820
2022-09-26  1677.763775
2022-10-03  1675.297526
Riverside, CA
                 NER_T4
WEEK_START
2022-04-18  2486.508829
2022-04-25  2486.831887
2022-05-02  2500.220127
2022-05-09  2511.151159
2022-05-16  2515.238272
2022-05-23  2517.870327
2022-05-30  2523.958510
2022-06-06  2527.140849
2022-06-13  2534.477344
2022-06-20  2536.644368
2022-06-27  2531.521319
2022-07-04  2530.456828
2022-07-11  2526.691989
2022-07-18  2521.754854
2022-07-25  2524.739231
2022-08-01  2526.576750
2022-08-08  2529.615816
2022-08-15  2529.980746
2022-08-22  2528.539033
2022-08-29  2525.725373
2022-09-05  2521.200950
2022-09-12  2515.877481
2022-09-19  2513.381766
2022-09-26  2504.040317
2022-10-03  2497.884102
San Antonio, TX
                 NER_T4
WEEK_START
2022-04-18  1249.993568
2022-04-25  1247.713667
2022-05-02  1244.863903
2022-05-09  1259.504227
2022-05-16  1264.256517
2022-05-23  1272.348755
2022-05-30  1270.779622
2022-06-06  1271.553894
2022-06-13  1272.213766
2022-06-20  1289.427552
2022-06-27  1289.759013
2022-07-04  1283.072361
2022-07-11  1290.025493
2022-07-18  1290.282681
2022-07-25  1306.578901
2022-08-01  1308.662207
2022-08-08  1307.686383
2022-08-15  1313.600327
2022-08-22  1303.851947
2022-08-29  1307.388892
2022-09-05  1296.135931
2022-09-12  1296.002945
2022-09-19  1296.158978
2022-09-26  1296.243454
2022-10-03  1295.868873
San Diego, CA
                 NER_T4
WEEK_START
2022-04-18  2798.105809
2022-04-25  2795.505093
2022-05-02  2804.971016
2022-05-09  2800.100341
2022-05-16  2813.414843
2022-05-23  2812.497249
2022-05-30  2836.240352
2022-06-06  2838.243811
2022-06-13  2847.220986
2022-06-20  2858.073042
2022-06-27  2859.806007
2022-07-04  2878.142358
2022-07-11  2878.718251
2022-07-18  2891.075710
2022-07-25  2922.559741
2022-08-01  2934.278123
2022-08-08  2933.816923
2022-08-15  2933.717539
2022-08-22  2965.647272
2022-08-29  2932.860491
2022-09-05  2933.008887
2022-09-12  2947.675884
2022-09-19  2946.873113
2022-09-26  2942.635321
2022-10-03  2941.221382
San Francisco, CA
                 NER_T4
WEEK_START
2022-04-18  2961.977438
2022-04-25  2968.308295
2022-05-02  2986.994788
2022-05-09  2983.758283
2022-05-16  3039.812114
2022-05-23  3054.649577
2022-05-30  3049.876148
2022-06-06  3044.206245
2022-06-13  3058.636566
2022-06-20  3019.959109
2022-06-27  3015.050775
2022-07-04  3038.651381
2022-07-11  3032.222825
2022-07-18  3031.849080
2022-07-25  3032.610762
2022-08-01  3036.421264
2022-08-08  3055.943435
2022-08-15  3040.147609
2022-08-22  3039.876206
2022-08-29  3035.326989
2022-09-05  3036.485902
2022-09-12  3029.703525
2022-09-19  3041.888329
2022-09-26  3009.777685
2022-10-03  2992.452581
San Jose, CA
                 NER_T4
WEEK_START
2022-04-18  3051.724436
2022-04-25  3058.591166
2022-05-02  3082.901210
2022-05-09  3094.863834
2022-05-16  3123.282327
2022-05-23  3140.724071
2022-05-30  3154.349117
2022-06-06  3166.455884
2022-06-13  3183.292520
2022-06-20  3215.351752
2022-06-27  3230.533537
2022-07-04  3242.493549
2022-07-11  3267.006130
2022-07-18  3287.656723
2022-07-25  3301.381447
2022-08-01  3301.924816
2022-08-08  3305.205760
2022-08-15  3324.500664
2022-08-22  3290.501867
2022-08-29  3274.158859
2022-09-05  3265.469331
2022-09-12  3257.697476
2022-09-19  3251.618297
2022-09-26  3240.408733
2022-10-03  3221.222999
Seattle, WA
                 NER_T4
WEEK_START
2022-04-18  2122.870460
2022-04-25  2127.175264
2022-05-02  2132.508403
2022-05-09  2146.739261
2022-05-16  2143.951074
2022-05-23  2155.651074
2022-05-30  2156.873335
2022-06-06  2164.877002
2022-06-13  2176.311759
2022-06-20  2186.035231
2022-06-27  2194.265177
2022-07-04  2205.009379
2022-07-11  2213.877266
2022-07-18  2214.150805
2022-07-25  2221.181474
2022-08-01  2226.645055
2022-08-08  2226.652604
2022-08-15  2224.900433
2022-08-22  2235.456997
2022-08-29  2237.883702
2022-09-05  2237.152261
2022-09-12  2231.193863
2022-09-19  2226.479973
2022-09-26  2221.492382
2022-10-03  2215.187080
Tampa, FL
                 NER_T4
WEEK_START
2022-04-18  1975.108479
2022-04-25  1976.649746
2022-05-02  1978.566729
2022-05-09  1978.521588
2022-05-16  1982.086711
2022-05-23  1985.318263
2022-05-30  1994.258516
2022-06-06  2009.008938
2022-06-13  2007.243356
2022-06-20  2017.269603
2022-06-27  2017.637644
2022-07-04  2025.111294
2022-07-11  2025.828559
2022-07-18  2018.341591
2022-07-25  2025.819113
2022-08-01  2027.078921
2022-08-08  2034.989139
2022-08-15  2025.135405
2022-08-22  2006.487102
2022-08-29  2010.288298
2022-09-05  2006.701312
2022-09-12  2000.613109
2022-09-19  1998.379056
2022-09-26  1987.945243
2022-10-03  1986.609364
Washington, DC
                 NER_T4
WEEK_START
2022-04-18  2120.345739
2022-04-25  2128.776543
2022-05-02  2132.820466
2022-05-09  2141.733583
2022-05-16  2134.904735
2022-05-23  2137.969981
2022-05-30  2146.931238
2022-06-06  2161.174563
2022-06-13  2162.513477
2022-06-20  2171.567837
2022-06-27  2178.694437
2022-07-04  2183.071099
2022-07-11  2187.716384
2022-07-18  2200.569264
2022-07-25  2193.355469
2022-08-01  2197.511818
2022-08-08  2190.543865
2022-08-15  2188.282430
2022-08-22  2184.590946
2022-08-29  2180.133773
2022-09-05  2171.473456
2022-09-12  2173.625605
2022-09-19  2171.713568
2022-09-26  2171.963422
2022-10-03  2170.636649

In [30]:
column_names = ["Model", "Time", "MSA", "Predictions"]

df_xgboost = pd.DataFrame(columns = column_names)
df_xgboost

Empty DataFrame
Columns: [Model, Time, MSA, Predictions]
Index: []

In [31]:
for unique_val, subset in subsets.items():
    if unique_val in msa_data_lst:
    
    
        column_names = ["Model", "Time", "MSA", "Predictions"]

        df = pd.DataFrame(columns = column_names)

                
        algorithm_name = 'XGBoost Model'
        
        subset['date'] = subset.index
        df_train = subset[:]
        df_train = datetime_index(df_train, 'date')

        
        prediction_period = pd.DataFrame(pd.date_range('2022-10-09', periods=25, freq='W'))
        prediction_period = prediction_period.rename(columns = {0:'date'})
        
        
        df_test = prediction_period
        df_test = datetime_index(df_test, 'date')
        
        
        
        X_train, y_train = create_features(df_train, label='NER_T4')
        X_test = create_features(df_test)
        
        
        reg = xgb.XGBRegressor(n_estimators=500)

        reg.fit(X_train, y_train,
            eval_set=[(X_train, y_train)],
            early_stopping_rounds=50,
           verbose=False)     

        df_test['Prediction'] = reg.predict(X_test)
        df_all = pd.concat([df_train['NER_T4'], df_test['Prediction']])

                
        #print(df_test.reset_index()['index'])
        
        #df['Actuals'] =  df_test['NER_T4']
        df['Predictions'] =  df_test['Prediction']
        #df['MAPE score'] =  mape_score
        df['Time'] =  list(df_test.reset_index()['index'])
        df['Model'] =  algorithm_name
        df['MSA'] =  unique_val
        #df['yoy_change'] = 

        df_xgboost = df_xgboost.append(df, ignore_index=True)

In [35]:
df_xgboost

,Model,Time,MSA,Predictions,Hash Column
0,XGBoost Model,2022-10-09,"Atlanta, GA",1815.331055,"Atlanta, GA2022-10-09"
1,XGBoost Model,2022-10-16,"Atlanta, GA",1827.401855,"Atlanta, GA2022-10-16"
2,XGBoost Model,2022-10-23,"Atlanta, GA",1826.023560,"Atlanta, GA2022-10-23"
3,XGBoost Model,2022-10-30,"Atlanta, GA",1827.144653,"Atlanta, GA2022-10-30"
4,XGBoost Model,2022-11-06,"Atlanta, GA",1833.916260,"Atlanta, GA2022-11-06"
...,...,...,...,...,...
695,XGBoost Model,2023-02-26,"Washington, DC",2139.426758,"Washington, DC2023-02-26"
696,XGBoost Model,2023-03-05,"Washington, DC",2108.032471,"Washington, DC2023-03-05"
697,XGBoost Model,2023-03-12,"Washington, DC",2114.604248,"Washington, DC2023-03-12"
698,XGBoost Model,2023-03-19,"Washington, DC",2091.426514,"Washington, DC2023-03-19"
699,XGBoost Model,2023-03-26,"Washington, DC",2092.270264,"Washington, DC2023-03-26"

In [34]:
df_xgboost['Hash Column'] = df_xgboost['MSA'] + df_xgboost['Time'].astype(str)

In [36]:
df_xgboost.to_csv("df_xgboost_msa_level_FUTURE_FORECASTS.csv")